.mistake
    &__card
        display: flex
        align-items: center
        min-height: 74px @md 84px
        background: #f6f8fa
        border-radius: 15px
        padding: 10px 20px @md 16px 32px
        margin-bottom: 10px

        &:last-child
            margin: 0

        &-title
            text: @md-down 14px
            margin: 0
            padding: 12px 0 @md 5px 0

        &-icon
            &--wrap
                display: flex
                align-items: center
                size: 44px 54px
                min-width: 44px
                margin-right: 20px
                border-right: 1px solid rgba(0, 0, 0, .1)