.stats
    margin-top: 40px
    
    &__slider
        overflow: hidden
        padding: 0 20px
        margin: * -20px

    &__card
        width: 295px
        min-width: 295px
        height: auto

        &-inner
            background: #f6f8fa
            border-radius: 15px
            padding: 32px
            display: flex
            flex-direction: column
            min-height: 200px @md 260px

        &-title
            text: 500 40px @md 54px

        &-text
            color: #818793
            text: 16px
            margin-bottom: 0
            margin-top: auto