-
    var nav = [
        {
            name: 'Документы',
            link: '#'
        },
        {
            name: 'Услуги',
            link: '#',
            childs: [
                {

                }
            ]
        },
        {
            name: 'Реализованные объекты',
            link: '#'
        },
        {
            name: 'Вопросы',
            link: 'faq.html'
        },
        {
            name: 'О компании',
            link: 'about-us.html'
        },
        {
            name: 'Контакты',
            link: 'contacts.html'
        },
    ]