-
    var nav = [
        {
            name: 'Документы',
            link: '#'
        },
        {
            name: 'Услуги',
            link: '#',
            submenu: [
                {
                    name: 'Строительство зданий',
                    childs: [
                        { name: 'Разработка архитектурного проекта' },
                        { name: 'Инженерно-геодезические изыскания' },
                        { name: 'Фундаментные и бетонные работы' },
                        { name: 'Возведение несущих конструкций' },
                        { name: 'Монтаж металлических каркасов' },
                        { name: 'Кладка стен и перегородок' },
                        { name: 'Кровельные работы' },
                        { name: 'Фасадные работы и утепление' },
                        { name: 'Монтаж инженерных систем (ВК, ОВ, ЭО)' },
                        { name: 'Электромонтажные работы' },
                        { name: 'Отделочные и малярные работы' },
                        { name: 'Устройство полов и стяжек' },
                        { name: 'Благоустройство территории' },
                        { name: 'Авторский и технический надзор' },
                        { name: 'Строительство “под ключ”' },
                    ]
                },
                {
                    name: 'Гражданское проектирование',
                    childs: [
                        { name: 'Elem 1' },
                        { name: 'Elem 2' },
                        { name: 'Elem 3' },
                    ]
                },
                {
                    name: 'Строительство',
                    childs: [
                        { name: 'Elem 1' },
                        { name: 'Elem 2' },
                        { name: 'Elem 3' },
                    ]
                },
                {
                    name: 'Сопровождение проекта',
                    childs: [
                        { name: 'Elem 1' },
                        { name: 'Elem 2' },
                        { name: 'Elem 3' },
                    ]
                },
                {
                    name: 'Жилищное проектирование',
                    childs: [
                        { name: 'Elem 1' },
                        { name: 'Elem 2' },
                        { name: 'Elem 3' },
                    ]
                },
                {
                    name: 'Эскизное проектирование',
                    childs: [
                        { name: 'Elem 1' },
                        { name: 'Elem 2' },
                        { name: 'Elem 3' },
                    ]
                },
            ]
        },
        {
            name: 'Реализованные объекты',
            link: '#'
        },
        {
            name: 'Вопросы',
            link: 'faq.html'
        },
        {
            name: 'О компании',
            link: 'about-us.html'
        },
        {
            name: 'Контакты',
            link: 'contacts.html'
        },
    ]