.commun
    &__tr
        display: @lg flex
        flex-wrap: @lg nowrap
        margin-bottom: 24px

        &:last-child
            margin-bottom: 0

    &__td
        margin-bottom: 24px @lg 0

        &:first-child
            min-width: @lg 240px
            margin-right: @lg 32px

        &:last-child
            margin-bottom: 0

    &__link
        display: inline-flex
        align-items: flex-start
        color: #fff
        text: 500 14px

        a&
            white-space: nowrap

            &:hover
                color: @lg rgba(255, 255, 255, .7)
        
        &:before
            content: ''
            size: 18px
            min-width: 18px
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            margin-right: 10px
            opacity: .5

        &--phone
            &:before
                background-image: resolve("icons/commun/phone.svg")

        &--email
            &:before
                background-image: resolve("icons/commun/email.svg")

        &--loc
            &:before
                background-image: resolve("icons/commun/loc.svg")

        &--time
            &:before
                background-image: resolve("icons/commun/time.svg")

        &--doc
            &:before
                background-image: resolve("icons/commun/doc.svg")

    &--dark
        ^&__link
            text: 400 16px @lg 20px
            color: #192741

            &::before
                size: 24px
                min-width: 24px

            &--phone
                &:before
                    background-image: resolve("icons/commun/phone-dark.svg")

            &--email
                &:before
                    background-image: resolve("icons/commun/email-dark.svg")

            &--loc
                &:before
                    background-image: resolve("icons/commun/loc-dark.svg")

            &--time
                &:before
                    background-image: resolve("icons/commun/time-dark.svg")

            &--doc
                &:before
                    background-image: resolve("icons/commun/doc-dark.svg")

        a^&__link
            &:hover
                color: rgba(25, 39, 65, .7)

    