.social
    display: flex
    align-items: center
    
    &__link
        color: #192741
        text: 400 20px
        display: inline-flex
        align-items: center
        margin-right: 24px
        
        &:before
            content: ''
            size: 24px
            min-width: 24px
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            opacity: .5

        &:hover
            opacity: @lg 1

        span
            margin-left: 10px

        &--wa
            &:before
                background-image: resolve("icons/social/wa.svg")

        &--max
            &:before
                background-image: resolve("icons/social/max.svg")

        &--tg
            &:before
                background-image: resolve("icons/social/tg.svg")

        &--rb
            &:before
                background-image: resolve("icons/social/rb.svg")

    &--light
        ^&__link
            &::before
                opacity: 1
                
            &--wa
                &:before
                    background-image: resolve("icons/social/wa-light.svg")

            &--max
                &:before
                    background-image: resolve("icons/social/max-light.svg")

            &--tg
                &:before
                    background-image: resolve("icons/social/tg-light.svg")

            &--rb
                &:before
                    background-image: resolve("icons/social/rb-light.svg")

            &:hover
                opacity: @lg .7

    &--gray
        ^&__link
            &::before
                opacity: 1

            &--wa
                &:before
                    background-image: resolve("icons/social/wa-gray.svg")

            &--max
                &:before
                    background-image: resolve("icons/social/max-gray.svg")

            &--tg
                &:before
                    background-image: resolve("icons/social/tg-gray.svg")

            &--rb
                &:before
                    background-image: resolve("icons/social/rb-gray.svg")

            &:hover
                opacity: @lg .7
