.cases
    .cases__tabs
        .swiper-wrapper
            .cases__tabs-item.swiper-slide
                button.btn.btn--reset.cases__tabs-btn(data-tab="all" aria-label="Toggle tab") Все

            .cases__tabs-item.swiper-slide
                button.btn.btn--reset.cases__tabs-btn(data-tab="tab-0" aria-label="Toggle tab") Промышленные здания

            .cases__tabs-item.swiper-slide
                button.btn.btn--reset.cases__tabs-btn(data-tab="tab-1" aria-label="Toggle tab") Складские комплексы

            .cases__tabs-item.swiper-slide
                button.btn.btn--reset.cases__tabs-btn(data-tab="tab-2" aria-label="Toggle tab") Торговые здания

            .cases__tabs-item.swiper-slide
                button.btn.btn--reset.cases__tabs-btn(data-tab="tab-3" aria-label="Toggle tab") Автосервисы и СТО

    .cases__section.cases__section--active(data-tab="all")
        .cases__slider
            .swiper-wrapper
                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Производственно-складская база 1290 м²

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Производственно-складская база 1290 м²

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

        .slider-nav
            button.btn--reset.slider-arrow.slider-prev(aria-label="Prev slide")
            .slider-pag
            button.btn--reset.slider-arrow.slider-next(aria-label="Next slide")

    .cases__section(data-tab="tab-0")
        .cases__slider
            .swiper-wrapper
                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Промышленные здания

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Промышленные здания

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

        .slider-nav
            button.btn--reset.slider-arrow.slider-prev(aria-label="Prev slide")
            .slider-pag
            button.btn--reset.slider-arrow.slider-next(aria-label="Next slide")

    .cases__section(data-tab="tab-1")
        .cases__slider
            .swiper-wrapper
                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Складские комплексы

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Складские комплексы

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

        .slider-nav
            button.btn--reset.slider-arrow.slider-prev(aria-label="Prev slide")
            .slider-pag
            button.btn--reset.slider-arrow.slider-next(aria-label="Next slide")

    .cases__section(data-tab="tab-2")
        .cases__slider
            .swiper-wrapper
                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Торговые здания

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Торговые здания

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

        .slider-nav
            button.btn--reset.slider-arrow.slider-prev(aria-label="Prev slide")
            .slider-pag
            button.btn--reset.slider-arrow.slider-next(aria-label="Next slide")

    .cases__section(data-tab="tab-3")
        .cases__slider
            .swiper-wrapper
                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Автосервисы и СТО

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

                .cases__card.swiper-slide
                    .cases__card-inner
                        .cases__card-top
                            .cases__card-info
                                .cases__card-count Кейс

                                h3.cases__card-title Автосервисы и СТО

                                a.btn.btn--reset.btn--text.btn--arrow-right(href="#") Подробнее

                            .cases__card-props
                                ul.cases__card-props-list
                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/loc.svg" width="24" height="24" alt="Локация")

                                        .cases__card-props-info
                                            .cases__card-props-name г. Подольск
                                            .cases__card-props-caption Локация

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/square.svg" width="24" height="24" alt="Общая площадь")

                                        .cases__card-props-info
                                            .cases__card-props-name 1296 м²
                                            .cases__card-props-caption Общая площадь

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/date.svg" width="24" height="24" alt="Сдача объекта")

                                        .cases__card-props-info
                                            .cases__card-props-name 2025 г.
                                            .cases__card-props-caption Сдача объекта

                                    li.cases__card-props-item
                                        img.cases__card-props-icon(src="img/content/cases/props/industry.svg" width="24" height="24" alt="Отрасль")

                                        .cases__card-props-info
                                            .cases__card-props-name Промышленные здания
                                            .cases__card-props-caption Отрасль

                        .cases__card-gallery
                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_0.webp" width="280" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_1.webp" width="560" height="280" alt="Image 0")

                            .cases__card-gallery-item
                                .cases__card-gallery-img--wrap
                                    img.cases__card-gallery-img(src="img/content/cases/gallery/img_2.webp" width="280" height="280" alt="Image 0")

        .slider-nav
            button.btn--reset.slider-arrow.slider-prev(aria-label="Prev slide")
            .slider-pag
            button.btn--reset.slider-arrow.slider-next(aria-label="Next slide")

    .cases__footer
        a.btn.btn--gray.btn--arrow-right(href="#") Посмотреть все объекты