.company-offer
    .company-offer__row
        .company-offer__col
            .company-offer__card
                .company-offer__card-inner
                    .company-offer__card-icon--wrap
                        img.company-offer__card-icon(src="img/content/company-offer/icon_0.svg" width="36" height="36" alt="Title card")

                    h2.company-offer__card-title Соблюдаем все технологии строительства
                    .company-offer__card-text.text ОКСВЕЛ — ведущая производственно-строительная компания, работающая на базе Подольского завода металлоконструкций. Более 20 лет мы являемся надежным партнером в реализации сложных и масштабных проектов. За годы работы компания произвела более 2 млн тонн металлоконструкций и успешно реализовала свыше 200 объектов на основе металлического каркаса.

        .company-offer__col
            .company-offer__group
                .company-offer__card
                    .company-offer__card-inner
                        h3.company-offer__card-headline
                            span до
                            | 30%

                        .company-offer__card-text.text Экономии бюджета

                .company-offer__card
                    .company-offer__card-inner
                        h3.company-offer__card-headline
                            span до
                            | 50%

                        .company-offer__card-text.text Экономии времени

            .company-offer__card
                .company-offer__card-inner
                    h3.company-offer__card-headline от 28 000 ₽/м²
                    .company-offer__card-text.text Предлагаем полный комплекс услуг по проектированию, изготовлению конструкций и строительству «под ключ». Мы используем современные материалы, оборудование и технологии, опираемся на собственный и мировой опыт быстровозводимого строительства. К нам обращаются организации из самых разных сфер. Наши преимущества: эффективные рабочие процессы, продукция с высокой надежностью, индивидуальный подход с персональными ценовыми предложениями.
