.faq
    .faq__list
        .faq__item
            button.btn--reset.faq__btn.js-acc(aria-expanded="true" aria-label="Toggle acc") Какая стоимость строительства быстровозводимых зданий? Можно ли сразу понять, сколько обойдется 1 м²?

            .faq__content
                p Стоимость строительства зависит от множества факторов: типа здания (склад, производственный цех и тд), используемых материалов, сложности проекта, региона строительства и дополнительных опций (утепление, вентиляция и т. д.).
                p Ориентировочная цена за 1 м² начинается от 28 000 руб. (уточняется после анализа ТЗ). Однако точную стоимость можно рассчитать только после разработки проекта или предварительного расчета на основе ваших требований.

        .faq__item
            button.btn--reset.faq__btn.js-acc(aria-expanded="false" aria-label="Toggle acc") Нужна ли проектная документация, ведь это не капитальное строительство?

            .faq__content
                p Да, проектная документация необходима даже для быстровозводимых зданий. Она обеспечивает:

                ul
                    li Безопасность – правильный расчет нагрузок, ветровых и снеговых воздействий.
                    li Соответствие нормам – соблюдение СНиП, ГОСТ и других требований.
                    li Оптимизацию затрат – исключение перерасхода материалов.
                    li Наша компания разрабатывает полный пакет документов, включая чертежи, спецификации и расчеты.

        .faq__item
            button.btn--reset.faq__btn.js-acc(aria-expanded="false" aria-label="Toggle acc") За сколько по времени можно построить быстровозводимое здание?

            .faq__content
                p Сроки зависят от сложности объекта:

                ul 
                    li Небольшой склад (до 500 м²) – от 3–4 недели.
                    li Промышленный цех (1000–5000 м²) – от 1,5–3 месяца.
                    li Индивидуальные проекты (с дополнительными коммуникациями) – от 6 месяцев.

                p Мы используем модульные технологии, что ускоряет процесс в 2–3 раза по сравнению с традиционным строительством.

        .faq__item
            button.btn--reset.faq__btn.js-acc(aria-expanded="false" aria-label="Toggle acc") Нужно ли разрешение на строительство, если здание не капитальное?

            .faq__content
                p Для некапитальных зданий разрешение на строительство не требуется.

                p Согласно пункту 10.2 ГрК РФ ст.1 №342-ФЗ от 03.08.2018 г. некапитальные зданий и сооружения признаются здания, которые не имеют прочной связи с землей и конструктивные характеристики которых позволяют осуществить их перемещение, демонтаж и последующую сборку без неизмеримого ущерба назначению и без изменения основных характеристик сооружений.

                p Риски – отсутствие разрешения на объект, признанный капитальным, влечет снос по решению суда (ст. 222 ГК РФ).

        .faq__item
            button.btn--reset.faq__btn.js-acc(aria-expanded="false" aria-label="Toggle acc") Ваша компания выполняет фундаментные работы? Как понять, какой нужен фундамент?

            .faq__content
                p Да, мы выполняем все этапы строительства, включая фундаментные работы. Тип фундамента зависит от:

                ul
                    li Грунта (геологические изыскания);
                    li Нагрузки (вес здания, оборудование);
                    li Климатических условий.

                p Чаще всего применяются:

                ul
                    li Ленточный – для небольших зданий с равномерной нагрузкой;
                    li Свайный – на участках с активными грунтовыми водами, на песчаном, заболоченном, торфяном и слабом грунте;
                    li Столбчатый – для легких каркасных конструкций и временных сооружений на устойчивых грунтах.
                    li Монолитная плита - цельная железобетонная основа для слабых, пучинистых грунтов, зон с высокими грунтовыми водами, сейсмической активностью или сооружений без подвала.

                p 
                    | Мы проводим анализ всех факторов и подбираем оптимальный вариант фундамента для вашего объекта.
                    <br />
                    | Нужна консультация по выбору фундамента? Оставьте заявку - наши специалисты бесплатно помогут с расчетами!