.partners
    .partners__slider
        .swiper-wrapper
            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_0.svg" width="138" height="95" alt="Name partner")

            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_1.svg" width="97" height="71" alt="Name partner")

            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_2.svg" width="114" height="25" alt="Name partner")

            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_3.svg" width="114" height="25" alt="Name partner")

            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_4.svg" width="114" height="35" alt="Name partner")

            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_5.svg" width="114" height="25" alt="Name partner")

            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_6.svg" width="138" height="95" alt="Name partner")

            .partners__card.swiper-slide
                .partners__card-inner
                    .partners__card-img--wrap
                        img.partners__card-img(src="img/content/partners/card_7.svg" width="138" height="95" alt="Name partner")
