.services
    .services__slider
        .swiper-wrapper
            .services__card.swiper-slide
                .services__card-inner
                    .services__card-bg--wrap
                        img.services__card-bg(src="img/content/services/bg_0.webp" width="295" height="460" alt="Bg card") 

                    .services__card-title Устройство фундамента

                    .services__card-actions
                        a.btn.btn--light.btn--arrow-right(href="#modal-feedback" data-fancybox) Оставить заявку

            .services__card.swiper-slide
                .services__card-inner
                    .services__card-bg--wrap
                        img.services__card-bg(src="img/content/services/bg_1.webp" width="295" height="460" alt="Bg card") 

                    .services__card-title Изготовление металлоконструкций

                    .services__card-actions
                        a.btn.btn--light.btn--arrow-right(href="#modal-feedback" data-fancybox) Оставить заявку

            .services__card.swiper-slide
                .services__card-inner
                    .services__card-bg--wrap
                        img.services__card-bg(src="img/content/services/bg_2.webp" width="295" height="460" alt="Bg card") 

                    .services__card-title Монтаж сэндвич-панелей

                    .services__card-actions
                        a.btn.btn--light.btn--arrow-right(href="#modal-feedback" data-fancybox) Оставить заявку
