.stats
    .stats__slider
        .swiper-wrapper
            .stats__card.swiper-slide
                .stats__card-inner
                    .stats__card-title(data-title="20+") 20+
                    .stats__card-text.text Лет опыта <br /> работы

            .stats__card.swiper-slide
                .stats__card-inner
                    .stats__card-title(data-title="200+") 200+
                    .stats__card-text.text Реализованных <br /> проектов

            .stats__card.swiper-slide
                .stats__card-inner
                    .stats__card-title(data-title="1,5") 1,5
                    .stats__card-text.text Млн. т <br /> произведенных конструкций

            .stats__card.swiper-slide
                .stats__card-inner
                    .stats__card-title(data-title="4 500") 4 500
                    .stats__card-text.text М² собственная <br /> производственно-<br />складская база
