extends layouts/layout.pug

block title
    title Проектирование | OXWL

block content
    section.section.section--full-width
        .banner
            .container
                .banner__media
                    img.banner__media-img(src="img/content/banner/card_3.webp" width="1920" height="900" alt="Title banner")
                    
                .banner__body
                    h1.banner__title Проектируем промышленные и коммерческие здания
                    .banner__text.text Комплексный проектный подход: архитектура, конструктив, инженерия, согласования. Надёжно, точно, под ваши задачи.

                    .banner__actions
                        button.btn.btn--light.btn--arrow-right(data-modal="modal-feedback" aria-label="Open modal") Рассчитать стоимость
                        button.btn.btn--border-light.btn--arrow-right(data-modal="modal-feedback" aria-label="Open modal") Получить референс лист

    section.section
        .section__head
            .section__label Что проектируем

            h2.section__title 
                | Проектируем следующие 
                <br />
                span виды зданий и сооружений

        .buildings
            .buildings__slider
                .swiper-wrapper
                    .buildings__card.swiper-slide
                        .buildings__card-inner
                            .buildings__card-img--wrap
                                img.buildings__card-img(src="img/content/buildings/card_0.webp" width="400" height="300" alt="Title card")

                            .buildings__card-info
                                .buildings__card-title Проектирование производственных зданий

                    .buildings__card.swiper-slide
                        .buildings__card-inner
                            .buildings__card-img--wrap
                                img.buildings__card-img(src="img/content/buildings/card_1.webp" width="400" height="300" alt="Title card")

                            .buildings__card-info
                                .buildings__card-title Проектирование и реконструкция торговых центров

                    .buildings__card.swiper-slide
                        .buildings__card-inner
                            .buildings__card-img--wrap
                                img.buildings__card-img(src="img/content/buildings/card_2.webp" width="400" height="300" alt="Title card")

                            .buildings__card-info
                                .buildings__card-title Проектирование заводов и предприятий

                    .buildings__card.swiper-slide
                        .buildings__card-inner
                            .buildings__card-img--wrap
                                img.buildings__card-img(src="img/content/buildings/card_3.webp" width="400" height="300" alt="Title card")

                            .buildings__card-info
                                .buildings__card-title Проектирование и реконструкция кинотеатров

                    .buildings__card.swiper-slide
                        .buildings__card-inner
                            .buildings__card-img--wrap
                                img.buildings__card-img(src="img/content/buildings/card_4.webp" width="400" height="300" alt="Title card")

                            .buildings__card-info
                                .buildings__card-title Проектирование и реконструкция кинотеатров

    section.section
        .section__head
            .section__label Почему мы

            h2.section__title 
                | Уникальные 
                span преимущества

        .features
            .features__slider
                .swiper-wrapper
                    .features__card.swiper-slide
                        .features__card-inner
                            .features__card-icon--wrap
                                img.features__card-icon(src="img/content/features/card_0.svg" width="36" height="36" alt="Title card")

                            .features__card-info
                                .features__card-title Сильная интеграция
                                .features__card-text.text Сильная интеграция: проектирование, производство металлоконструкций и монтаж — один подрядчик, минимизация рисков.

                    .features__card.swiper-slide
                        .features__card-inner
                            .features__card-icon--wrap
                                img.features__card-icon(src="img/content/features/card_1.svg" width="36" height="36" alt="Title card")

                            .features__card-info
                                .features__card-title Документация
                                .features__card-text.text Полный набор проектной документации: архитектура, конструкции, инженерные сети, согласования.

                    .features__card.swiper-slide
                        .features__card-inner
                            .features__card-icon--wrap
                                img.features__card-icon(src="img/content/features/card_2.svg" width="36" height="36" alt="Title card")

                            .features__card-info
                                .features__card-title Сроки
                                .features__card-text.text Сокращение сроков благодаря готовой платформе металлоконструкций и собственному производству.

                    .features__card.swiper-slide
                        .features__card-inner
                            .features__card-icon--wrap
                                img.features__card-icon(src="img/content/features/card_3.svg" width="36" height="36" alt="Title card")

                            .features__card-info
                                .features__card-title Цена
                                .features__card-text.text Прозрачная фиксированная цена на этапе проектирования – без сюрпризов.

                    .features__card.swiper-slide
                        .features__card-inner
                            .features__card-icon--wrap
                                img.features__card-icon(src="img/content/features/card_4.svg" width="36" height="36" alt="Title card")

                            .features__card-info
                                .features__card-title Гарантия
                                .features__card-text.text Гарантия соответствия нормативам и стандартам (ГОСТ, СНиП) и сопровождение на всех этапах.

                    .features__card.swiper-slide
                        .features__card-inner
                            .features__card-icon--wrap
                                img.features__card-icon(src="img/content/features/card_5.svg" width="36" height="36" alt="Title card")

                            .features__card-info
                                .features__card-title Подход
                                .features__card-text.text Индивидуальный подход: мы подбираем оптимальные шаги колонн, конструкции под нагрузку, учитываем применение будущего здания.

    section.section
        include blocks/feedback

    section.section
        .model
            .model__row
                .model__col
                    h2.section__title 
                        | Проектируем все объекты 
                        span с использованием BIM технологий

                    .section__text При посадке здания рассматриваем все опции с помощью внутренних алгоритмов для обеспечения максимальных ТЭП, учитывая при этом комфорт конечного пользователя. Уже на начальной стадии прорабатываем планировочную, инженерную, ландшафтную концепции, а также концепцию фасадных решений в нескольких вариантах.

                .model__col
                    .model__props.props
                        ul.props__list
                            li.props__item
                                img.props__item-icon(src="img/icons/props/time.svg" width="24" height="24" alt="Среднее время проектирования")
                                .props__item-info
                                    .props__item-name от 6-х недель
                                    .props__item-caption Среднее время проектирования

                            li.props__item
                                img.props__item-icon(src="img/icons/props/checkmark.svg" width="24" height="24" alt="Расчётная стоимость строительства")
                                .props__item-info
                                    .props__item-name от 28 000 ₽/м²
                                    .props__item-caption Расчётная стоимость строительства
                                
                            li.props__item
                                img.props__item-icon(src="img/icons/props/security.svg" width="24" height="24" alt="Минимальная площадь объекта")
                                .props__item-info
                                    .props__item-name от 500 м² 
                                    .props__item-caption Минимальная площадь объекта

                            li.props__item
                                img.props__item-icon(src="img/icons/props/tape.svg" width="24" height="24" alt="Замер и составление сметы")
                                .props__item-info
                                    .props__item-name Бесплатно
                                    .props__item-caption Замер и составление сметы

                    .model__actions
                        button.btn.btn--accent.btn--arrow-right(data-modal="modal-feedback" aria-label="Open modal") Получить консультацию

                .model__col
                    .model__img--wrap
                        img.model__img(src="img/content/model/layout.webp" width="600" height="360" alt="Title section")

    section.section
        .section__head
            .section__label Проектирование

            h2.section__title 
                | Что входит в услугу 
                span «Проектирование»

        .steps
            .steps__row
                .steps__card
                    .steps__card-inner
                        .steps__card-count Этап

                        .steps__card-title Предпроектная подготовка

                        ul.steps__card-list
                            li.steps__card-list-item Сбор исходных данных: назначение здания, нагрузка, технологии, требования клиента.
                            li.steps__card-list-item Анализ участка: грунты, климат, доступность, коммуникации.
                            li.steps__card-list-item Предварительное ТЗ: функции здания, ориентировочная площадь, конфигурация.

                .steps__card
                    .steps__card-inner
                        .steps__card-count Этап

                        .steps__card-title Концептуальное проектирование

                        ul.steps__card-list
                            li.steps__card-list-item Выбор конструкции: металлокаркас, модульный, большепролётный и др.
                            li.steps__card-list-item Архитектурная схема: планировка, фасады, входные группы.
                            li.steps__card-list-item Стадия «эскизный проект» с визуализациями.

                .steps__card.steps__card--empty
                    .steps__card-inner
                        .steps__card-bg--wrap
                            img.steps__card-bg(src="img/content/steps/bg.webp" width="400" height="352" alt="Bg")

                .steps__card
                    .steps__card-inner
                        .steps__card-count Этап

                        .steps__card-title Рабочее проектирование и расчёты

                        ul.steps__card-list
                            li.steps__card-list-item Конструктив: расчёт металлоконструкций, фундаменты, узлы.
                            li.steps__card-list-item Инженерные системы: вентиляция, отопление, водопровод, электроэнергия.
                            li.steps__card-list-item Чертежи КМ/КЖ, спецификации, ведомости материалов.
                            li.steps__card-list-item Составление сметы проекта.

                .steps__card
                    .steps__card-inner
                        .steps__card-count Этап

                        .steps__card-title Согласование и экспертиза

                        ul.steps__card-list
                            li.steps__card-list-item Подготовка документации для получения разрешения на строительство.
                            li.steps__card-list-item Взаимодействие с органами согласования, сопровождение экспертизы.

                .steps__card
                    .steps__card-inner
                        .steps__card-count Этап

                        .steps__card-title Поддержка на строительстве

                        ul.steps__card-list
                            li.steps__card-list-item Консультации по монтажу металлоконструкций, корректировки проекта.
                            li.steps__card-list-item Контроль соответствия конструкции и проектной документации.

    section.section.section--full-width
        .banner.-height-auto-
            .container
                .banner__media
                    img.banner__media-img(src="img/content/banner/card_4.webp" width="1920" height="900" alt="Title banner")

                .banner__body
                    .banner__textarea
                        h2 Проектирование объектов любых площадей — от 500 м² до 50 000 м²

                    .banner__actions
                        button.btn.btn--light.btn--arrow-right(data-modal="modal-feedback" aria-label="Open modal") Получить консультацию

                .banner__stats
                    .stats__row
                        .stats__card
                            .stats__card-inner.glass
                                .glass-filter
                                .glass-overlay
                                .glass-specular

                                .glass-content
                                    .stats__card-title(data-title="20+") 20+
                                    .stats__card-text.text Лет на рынке

                        .stats__card
                            .stats__card-inner.glass
                                .glass-filter
                                .glass-overlay
                                .glass-specular

                                .glass-content
                                    .stats__card-title(data-title="200+") 200+
                                    .stats__card-text.text Реализованных объектов

                        .stats__card
                            .stats__card-inner.glass
                                .glass-filter
                                .glass-overlay
                                .glass-specular

                                .glass-content
                                    .stats__card-title(data-title="2 млн") 2 млн
                                    .stats__card-text.text Тонн металлоконструкций произведено

    section.section
        .section__head
            .section__label Отрасли

            h2.section__title 
                | Мы строим и проектируем <span>здания 
                <br />
                | для различных отраслей </span>

        .industry
            .industry__slider
                .swiper-wrapper
                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_0.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Производственные компании

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_1.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Добывающие компании

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_2.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Индустрия спорта и отдыха

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_3.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Торговые компании

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_4.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Индустрия гостеприимства

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_5.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Строительные компании

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_6.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Инжиниринговые компаний

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_7.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Индустрия транспорта

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_8.svg" width="36" height="36" alt="Title card")

                            .industry__card-title Транспортные и логистические компании

                    .industry__card.swiper-slide
                        .industry__card-inner
                            .industry__card-icon--wrap
                                img.industry__card-icon(src="img/content/industry/card_9.svg" width="36" height="36" alt="Title card")

                            .industry__card-title ІТ-компании

    section.section
        .section__head
            .section__label Выполненные проекты

            h2.section__title 
                | Мы построили 
                span более 200 объектов

        include blocks/cases

    section.section
        .hero
            .hero__group
                .hero__info
                    h2.hero__title Консультация специалиста
                    .hero__text.text Важно правильно выбрать исполнителя, который реализует проект в соответствии с нормами, стандартами, требованиями и пожеланиями заказчика.

                    .hero__actions
                        button.btn.btn--light.btn--arrow-right(data-modal="modal-feedback" aria-label="Open modal") Рассчитать стоимость

    section.section
        .section__head
            h2.section__title 
                | Услуги компании 
                span Оксвел

        include blocks/services

    section.section
        include blocks/company-offer

    section.section
        .hero
            .hero__group
                .hero__info
                    h2.hero__title Документация

                    .hero__actions
                        button.btn.btn--reset.btn--text-light.btn--arrow-right(data-modal="modal-feedback" aria-label="Open modal") Все документы

                .hero__docs.docs
                    .docs__list
                        .docs__card
                            a.docs__card-inner.glass(href="#pdf" download)
                                .glass-filter
                                .glass-overlay
                                .glass-specular
                                    
                                .glass-content
                                    img.docs__card-icon(src="img/icons/formats/pdf-light.svg" width="24" height="24" alt="pdf")

                                    .docs__card-info
                                        .docs__card-title Выписка из реестра членов СРО проектирование

                        .docs__card
                            a.docs__card-inner.glass(href="#pdf" download)
                                .glass-filter
                                .glass-overlay
                                .glass-specular

                                .glass-content
                                    img.docs__card-icon(src="img/icons/formats/pdf-light.svg" width="24" height="24" alt="pdf")

                                    .docs__card-info
                                        .docs__card-title Выписка из реестра членов СРО проектирование

    section.section
        .section__head.section__head--row
            h2.section__title 
                | Наш опыт - 
                span надежность, подтверждена цифрами

            .section__text.text Работа на базе Подольского завода металлоконструкций позволяет нам гарантировать высокое качество продукции и соблюдение сроков.

        include blocks/stats

    section.section
        .section__head.section__head--row
            h2.section__title 
                | Наши здания используют 
                span крупнейшие компании России

            .section__text.text Каждый проект для нас — это уникальная задача. Мы учитываем все пожелания заказчика, предлагая оптимальные технические и экономические решения.

        include blocks/partners

    section.section
        .hero
            .hero__group
                .hero__info
                    h2.hero__title Получить ТКП
                    .hero__text.text Подготовим быстрый расчет стоимости проектирования вашего объекта <br /> в течение 1 рабочего дня

                    .hero__actions
                        button.btn.btn--light.btn--arrow-right(data-modal="modal-feedback" aria-label="Open modal") Оставить заявку